@model Pipelights.Website.Models.Cart

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Cart</h4>
    <hr />
    <div class="container">
        @if (Model?.ProductsForCart == null || !Model.ProductsForCart.Any())
        {
            <div class="row">
                <div style="text-align: center ">
                    <h1 style="margin-top: 50px;margin-bottom: 40px;">Nu ai produse in cos.</h1>
                    <h2>Poti adauga produse prin apasarea butonului 'Adauga in cos' din dreptul fiecarui produs dorit.</h2>

                    <div style="display: flex;justify-content: center; margin-top:70px">
                        <a href="~/Products">
                            <h4 style="background-color: #bc003b;color: white;padding: 6px; width: 350px;padding: 6px; width: 350px;border-radius: 7px;">
                                Inapoi
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        }
        else
        {
            @foreach (var product in Model.ProductsForCart)
            {
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-6">

                        <img src="@product.ProductDetails.MainImage" style="width: 150px;" />
                        <span>@product.ProductDetails.Description</span>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">

                                <form method="post" action="~/Cart/EditQuantity">
                                    <input type="hidden" name="id" value="@product.ProductDetails.Id" /> <br /><br />
                                    <input type="number" name="quantity" value="@product.Quantity" style="width: 47px;" />
                                    <input type="submit" class="btn btn-primary btn-cart-main" value="Modifica cantitatea" />
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form method="post" action="~/Cart/RemoveItem">
                                    <input type="hidden" name="id" value="@product.ProductDetails.Id" /><br /><br />
                                    <input type="submit" class="btn btn-primary btn-cart-main" value="Sterge din cos" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }
            <br />
            <br />
            <form method="post" action="~/Cart/GoToCheckout">
                <div style="display: flex;justify-content: center; margin-top:70px">
                    <input type="submit" style="
                                                background-color: #bc003b;
                                                color: white;
                                                padding: 6px; 
                                                width: 350px;
                                                padding: 6px; 
                                                width: 250px;
                                                border-radius: 7px;
                                                border:0" 
                           value="Finalizaeaza comanda" />
                </div>
            </form>
        }
    </div>
</div>
