@model Pipelights.Database.Models.OrderEntity

@{
    ViewData["Title"] = "OrdersDashboardDetails";
}

<h1>OrdersDashboardDetails</h1>

<div class="container">
    <h4>OrderEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Judete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Judete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localitate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlacedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlacedDate)
        </dd>
        @foreach (var item in Model.CartProducts)
        {
            <dt class="col-sm-2">
                Informatii lampa:
            </dt>
            <dd class="col-sm-10">
                Id: @item.LampId
                Pret: @item.Price
                Cantitate: @item.Quantity
            </dd>
        }
    </dl>

</div>
<div>
    <a asp-action="OrdersDashboard">Inapoi la Ordere</a>
</div>
