@model Pipelights.Website.BusinessService.Models.ProductDetailsDto
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/css/productDetails.css">

<style>
    footer {
        position: absolute;
       
    }

    .footermargin {
         margin-top:500px;
    }
</style>

@{
    ViewData["Title"] = @Model.Name + " - Corpuri de iluminat in stil industrial by Serox";
    
}

<br />
<br />
<div style="display:flex; flex-direction:column">
<div class="container">
    <br />
    <br />
    <br />

    <div style="margin-bottom: 8px">
        <a href="#" class="buy-return-link" onclick="window.history.go(-1);return false;">
            <svg version="1.1" class="svg" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15.862px" height="9.448px" viewBox="0 0 15.862 9.448" enable-background="new 0 0 15.862 9.448" xml:space="preserve"><path d="M15.865,4.782c0-0.234-0.19-0.423-0.423-0.423l-14.051,0l3.635-3.635C5.108,0.641,5.15,0.532,5.15,0.424S5.108,0.207,5.026,0.124c-0.165-0.165-0.433-0.165-0.599,0L0.126,4.425c-0.165,0.165-0.165,0.434,0,0.599l4.301,4.301c0.165,0.165,0.433,0.165,0.599,0c0.165-0.165,0.165-0.434,0-0.599L1.506,5.205l13.936,0C15.675,5.205,15.865,5.015,15.865,4.782z"></path></svg>
            INAPOI LA PRODUSE
        </a>
        @*<span style="margin-left: 10px"><i class="bi bi-telephone-fill"></i> 0349832</span>*@
    </div>

    <br />
   

    <div>
        @*images on the left*@
        <div style="z-index:99" class="col-lg-6 col-md-12 col-sm-12 pdp pdp-left" >
            @* PDP slideshow - start *@
            @foreach (var image in Model.Resources)
            {
                @if (image.Contains(".mov") || image.Contains(".mp4"))
                {
                    <div class="mySlides" style="text-align:center">
                        <video width="600" controls style="max-height: 600px; min-height: 600px;">
                            <source src="@image" type="video/mp4">
                            Video-ul nu se  poate incarca.
                        </video>
                    </div>

                }
                else
                {
                    <div class="mySlides " style="text-align:center; max-height: 600px; min-height: 500px;">
                        <img class="img-fluid" src="@image" style="max-height: 600px;">
                    </div>


                }
            }

                <a class="prev"   style="margin-left:-3px;" onclick="plusSlides(-1)">❮</a>
                <a class="next"   style="margin-right:13px;" onclick="plusSlides(1)">❯</a>
            

                <div class="row" style="margin-bottom:16px; margin-left:0px">
            
                @{

                    var count = 1;

                    @foreach (var image in Model.Resources)
                    {
                        <div class="column">
                            @if (image.Contains(".mov") || image.Contains(".mp4"))
                            {
                                <img class="demo cursor" src="/lib/from-template/images/product_video.jpg" style="width: 100%" onclick="currentSlide(@count)" alt="Pipelight by Serox - ">
                            }
                            else
                            {
                                <img class="demo cursor" src="@image" style="width: 100%" onclick="currentSlide(@count)" alt="Pipelight by Serox - ">
                            }
                        </div>

                        count += 1;
                    }

                }
            </div>

        </div>
        @*descriptions on the right*@

        
        <div style="height:600px!important;z-index:99" class="col-lg-5 col-md-12 col-sm-12 pdp pdp-right">
            <h2 style="margin-bottom: 10px">@Model.Name</h2>
            @if (Model.HasPricedReduced)
            {
                <span style="text-decoration: line-through; color: #a0a1a3; margin-right: 15px">@Model.Price RON</span>
                <span style="color: #d2835e;">@Model.PriceReduced RON</span>
            }
            else
            {
                <span>@Model.Price RON</span>  
            }

            <form method="post" action="~/Cart/AddProduct">

                <div style="margin-top: 10px;box-shadow: none!important">
                    <span> CANTITATE </span>
                    <span>
                        <input type="number" name="quantity" min="1" max="100" data-min="1" data-max="100" value="1"
                               style="max-width: 15%; margin-left: 10px"/>
                    </span>
               
                </div>
                  @*  <div style="display:flex; justify-content:start;align-items:center;">
                    <div>
                        <select style="" class="form-select form-select-sm my-3 p-1 form-select-border-color:#F0B250" aria-label=".form-select-sm example">
                          <option selected>Alege culoare</option>
                          <option value="1">Athenian Black</option>
                          <option value="2">Pure</option>
                          <option value="3">Old White</option>
                          <option value="4">Original</option>
                          <option value="5">Chicago Grey</option>
                          <option value="6">Paris Grey</option>
                          <option value="7">Paloma</option>
                          <option value="8">Country Grey</option>
                          <option value="9">French Linen</option>
                          <option value="10">Graphite</option>
                          <option value="11">Honfleur</option>
                          <option value="12">Coco</option>
                          <option value="13">Primer Red</option>
                          <option value="14">Emperor's Silk</option>
                          <option value="15">Scandinavian Pink</option>
                          <option value="16">Antoinette</option>
                          <option value="17">Capri Pink</option>
                          <option value="18">Emile</option>
                          <option value="19">Rodmell</option>
                          <option value="20">Old Violet</option>
                          <option value="21">Louise Blue</option>
                          <option value="22">Greek Blue</option>
                          <option value="23">Napoleonic Blue</option>
                          <option value="24">Oxford Navy</option>
                          <option value="25">Aubusson Blue</option>
                          <option value="26">Giverny</option>
                          <option value="27">Provence</option>
                          <option value="28">Svenska Blue</option>
                          <option value="29">Duck Egg Blue</option>
                          <option value="30">Florence</option>
                          <option value="31">Amsterdam Green</option>
                          <option value="32">Antibes Green</option>
                          <option value="33">Firle</option>
                          <option value="34">Olive</option>
                          <option value="35">Chateau Grey</option>
                          <option value="36">Versailles</option>
                          <option value="37">English Yellow</option>
                          <option value="38">Cream</option>
                          <option value="39">Old Ochre</option>
                          <option value="40">Tilton</option>
                          <option value="41">Arles</option>
                          <option value="42">Barcelona Orange</option>
                          
                  
                         </select>
                    </div>
                        <div>
                            <a href="https://www.anniesloan.com/products/chalk-paint/" target="_blank">
                            <div class="mx-2" style="cursor:pointer; width:18px; height:18px; border-radius:50%; background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                                                                                                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                                                                                                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);">
                            </div>
                            </a>
                        </div>
                    </div>*@
                <div>
                    <input type="hidden" name="id" value="@Model.Id" /> <br />
                    <input type="submit" class="btn shadow-none btn-cart-main submit" value="Adauga in cos" />
                </div>
            </form> 

            <div style="margin-top: 20px">
                <div class="title-primary">DATE TEHNICE:</div>
                <hr />
                <span>@Html.Raw(Model.TechnicalData)</span>
                
                    @if (ViewBag.Becuri == "becuri")
                    {
                         <div class="title-primary">livrare in 2-3 zile</div>
                    }
                    else
                    {
                        <div class="title-primary">la comanda: livrare in 10-12 zile</div>
                    }
                   

            </div>
        </div>
    </div>
</div>

<div style="margin-top:60px" class="container">
    <div style="font-size:16px" class="title-primary">DESCRIERE:</div>
    <br />
    <br />
    
    <div style="color:#212529">@Html.Raw(Model.Description)</div>
</div>
</div>

@section Scripts
{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

        const navItemsP = document.getElementsByClassName('nav-item');
        

        for(var i=0; i<navItemsP.length;i++){
            navItemsP[i].classList.remove('active');
            if (navItemsP[i].innerText == 'Produse'){
                navItemsP[i].classList.add('active');
            }
        }

        
        
        $(document).ready(function() {
            // This will fire when document is ready:
            
                if($(window).width() <= 990) {
                    
                    $('.inner-content').css('margin-top', '1300px');
                } else {
                     
                    $('.inner-content').css('margin-top', '400px');
                }
        });
         
        </script>
}